.header {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    margin: auto;
    background: rgb(180, 5, 180);
    color: white;
}

.jump {
    margin-top: 200px;
}